Source: qpanttays
Section: user/other
Priority: optional
Maintainer: H. Pitkala <hpitkala@hotmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/hekkup/qpanttays

Package: qpanttays
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple flashcard application
 QPanttays is a simple flashcard application for studying language vocabularies.
XSBC-Maemo-Display-Name: QPanttays
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABKuSURB
 VHic1Zt5jF3Vfcc/59xz71tnH8+MdxsvwBjjlc0B7EDAQGIIBAgEhTYNUlslDW1VqYlSqeofUaWq
 Qq3aKFHVpElQmogqW1kCYQlLDNgY72ODN7yOPfu8mbfd5ZzTP+6b8Yw9m+1h6e/p6N777jnnnt/3
 /LazCWstHy096JHP11BMVIe6VAPgOqkcaX+AbDYHTwUfZWvE9AIgZJh7bJUTldZZo1eTSiwhYCba
 pBE2BSaNNS4YQCMwAFgk4AAShAxBFrGihCOLeJym5B8U0tmuVepNt+Y/d4A109biSwUg6vzq7UIW
 vypS6cttsbwUyilhiwjKCHzgUgEWWBJYkliRBpIlkU4esKXi+9akf6CafvC7S6r9ogDo2NgUqYa/
 FF7yAUp9iyW9CD5SycXiYaiHVN0hG5T/R0U9/0LzC50XWs8FARB0fO4q1617wkTRzYLehGSQS+/h
 SyWBoQpLvS+Vej0M+/7aa35m75RLTxWAsOuRx4XlOw4nMoLwopv7YZLFRTO3YAXfdmf89F+nUmZy
 ADo2ZgI582fS9G9SopOPv8cnI0FkmzCy9mnPnH6Y5hcKE+aeCICg965WnKbfqPLJxVJMWM8njozN
 ECXnHEJ33uPVP7dvvHzjA9CxMeMnZu70gsOLBdGH1c4PlSyKwFt0KOGfXjmeJMjxCvs0/0z5p/7f
 Mg8giFD+qcU+zT8bL8+YAPgdDz0u7eAmR+Q/vNZNMxnNmObJEXmkHdzkdzz0+FjlzlOB/ImNV7mq
 4e2EczTzyTd4cUzY2SuoTkMqPV57Bb5eUAijnuuzc18Y5SLVuVmVV/OEy4kMTB5tHj9l+OBpTanb
 suABhysudy6Oi4ukY+0S34fF8w1yXGUGsLjyRMZ6M58Abh/5ZpQE5A/f1+SmnOMJdTwx2cd7ui1v
 fytk3qmY6YMtEff9cNJi00Kd3YIjbZJFywwzGqcupX40zw9Lel520S+HI8ZRuKks33BkTyLu/YnT
 ricD5p0QYAwYQ0u7YN/74fD7ju6I9w6Ek9ZzISk/aHntBcmJA3DtjSEzGvUFlXdkT0Jl+cYonkc+
 GEd9UZnJw9tiyeK/ZhkpPd1pzVUtLq/+OKDnRUttjyBtBW8+rll3pzthfZNREMCurQ4fHJKs/1xE
 8wX0+khScpBANn4R+Luh/4YloHD8wducYGBxjJadMBWKBlW0YM+mMwsiXv0Hn5qfCpZ0SmZoQV4a
 6haJSesbL1lr2bdH8uQPXbSxfOHLAc2Nk7dv/GRwgoHFheMP3jYMyjA80v+KcvqnhKTjCHwsBzzN
 QL1CC4vaL5hv4uqG+ie3QnPb0ovr/d5uwcvPKsoB3HVfyMym6fFIyuknMomvAC/CCABkwm11rD+l
 St4/7PDO2nrmLl2L6yocIDc4wPNvvMWtHYYhlt02y9PfKlG1WNC0RnLlCoUQE9dtDezY6vDmZsWq
 VRHX3axR5/mqiydH+MiE2zr0XPECQhZPbsqnvROpySo40Q2//tXVVKdbAAjCiMFAU+U5eK7i2Csv
 ccexkHP9gQ+cWhty098kaGwcG4WubsFLv1H4keC2e0Jmt3w4cUgxmFtKz3k6C9YIay2FU5tWSFve
 mfK6xiwQhJZ9bZbCgGSgX/Du/hbmzFkOwEBUzVtb3ubOjbdj8icB6P7dM3zm5NgxwaEVAfc/MRpn
 rWHbZoctWxQrV2jWfTpCXaDmnO62HDwoGRz0iCKFNmr4KoBEokgq5XNla0BT/QyMSK7MzH56lwKw
 cIOUZc61/sfOGHZvdgj7EyyoqyYjBRngprlltnSdpKlhNsXyANZa0imP/GBcXly3mqO921hQGC27
 g9KQms+o75zuFLz0a0VoBPd+yWfu7Il7vexb9h8UdHd75AZS5AbS5AppJI3UZmrGL1eEXB8cOnKI
 h+/vIpFJ3gDEAKDtascdrf/5gmXz7w3N9Q6iKiAX9pLvVWREivqsh/FPAbNpThtuWH0lXScPkPLi
 Xm+onknb/DRRewFVD6oOVCPMvUVx0zVJAKIQtrzh8M5WxYqVmhtvCXG9sRu/q03Str+B/lwVpbCK
 mtQMlBM7MAeoz0yI2SjKJhfz6uYcG2+1q6FiBK2QrY4MGNkz2Qx86WGHsyGxASKOnS7w9m8lZ/b6
 pGry1GQy1KQg9qhny9euXMflX3+d5Vec2wTLyZOCF59x0RrufThg/vzxw+4f/7yKcnENCc8jnYB0
 4mw9F0tBWWCFbB1qNUbYmUIMDacmTvNnStz3izx6zEH+4nWMMVhrz0vpRIL3D2RGlQ0Cy+9/6/DU
 j13mztE8+ljA/Pnjf/f5lz2C0jV4rjvmNy42RdpghJ0Jw27QpKeK3t43AxrfiQ3LlaWQnYMDNFSP
 rXsnTs+mVH6PVFJw9KjkxWcU1sC9XwpZuHDywdbREzNIqOkfYDXPyAHpNAypQKjTeFMTqWPPRcyM
 XCwWRwLhOANxoDY9jx/992kWNRbZs8th+QrN+tsjEsnJv3XgqCEMZpNITZ8rHCh14Idd3LPKj3mm
 AoAUUWoqw18AXbDxAAhoq3Wor69lvGm1oNRNsTtiz2nBLXeWWbV26gs6x44qMsmqceu+GLps/j42
 bYyN/UAxSgEoeNADM2WvOxTJtWci+le3MpbuWB1S6DtIkO/CyzaRqV/Cq9s6ONN/gDs/M7UFFKWm
 PwhKeHrEk3HhQU/lz5ypmWBq8HxyLR1VEe13pZlVs/C810Gxk0LPQQSCbPMyvFQjADXp2Zw43sI/
 f+8gs5v7WLQwzzUrzbihsXKmbflvmJxRoBryZ87UKJ13q6UKmKoKLLhH4HxBcPL9GfFIcKg6HVDs
 OUBQ6MHLziBTvwThuIy0D0pJ6tXllPKwY4dm85YTZJKDuK7GdTVKRfHV1Zw4FZJ0DFJOMniYImlt
 SCXPLugINDrvVaswDGsS7viG7Fxavs6lULQ8u6WR+uq4jF84Q6HrEEIKMk1X4KWbACbUX+VIquOw
 EBOBH8XjhSFKVfzTdNmA/sE+li6KiEMnQGjCMKxR4IK9sKnvLdsc6qpmYaIyhZ4DhMU+VLqBbONS
 pDNOOPcxUdFvQxuHkh/SWD/CpVoAF+W65Ky9MDHLDSQJ8qco9h4BBKp2CdV1s6az3dNGy5edYsOn
 DIN5w0hbZ63AdcmpEuFA7JanZgP6egTH2yAoHsRN12MyC6muyvJJnEIfLBRYsigAJFVZGMmjsVAm
 HFAti1tyfYfbmYwBa2DbWy5vvOKitSY943IS2RYGisG0+urppCDqZnbL0JTcaLJW0LK4JafgqcDa
 G0NgVCwQhpbdbZpVVyt++F+GjhNJBvsta1Zr+nUtQsQTIpPN8HzUFEaaop+nJlNDOjX+ypa1hPBU
 EA+GEKVzM+zeazh6xGHL6y5t212WtDQxf4nlgUd9qmvLIyv6UMgYS0fPYfxgatN0AJE21Na/xj13
 bUYl3mbenLEneOAsz7GzMaIIVI/McOyQy3u7k7ybD6mvT+AIwaKlsT7NmZVnR2eZZCIe21s7vZJQ
 LPcxc9Yu/uTRIk8+1Y0OrptSOT/cz0P3+gghWLywb+LMMc+V4bC1RdAMpW1vCrb8QTCrLsuc5iqu
 nF2HtYbuDgfQfOq6gMjuwlpDVUqRy5cp+SHWmktOA4Uj3Hzj2zxwdx6lDPff3UnfwMFJy5X9Etes
 Pk48rJ88xTwPAaBpN+asi1i2UnPHnZaGRe2Y1ADerKN0FHoJuhrYtz+2pPff3UV/fj8ANVkPay25
 /NTF9Vyy1pIv7+SRB9tYedXZmL0qK7h27WFK5fIEpSGy+1l3rZ4wzxAZIzGadhhSAWH2hNq7MSHj
 j6TSlk/fEQKCOD6TvPLqAKd2V7P5tSStVwbMmQV/9pUj/OTng5SKS6ipqiPhOvTnfZQjyaamPqs5
 UOiipXkfX/2jAo5zvi6tXxfRtn83cG3MbKQJ9Haam8qcPr0cz02zZmXHlL8Xag+E2QMVCRCO2R5G
 E0++37JBEiQ7yIQzeO31WAqqsoKvPdbN6e7XeOH153hj62aq0y4pT1HyJ48ugzCiFOzg85/bxiMP
 FHAmmPu4+65ucvl2Sn6R2vo/8I0/7eKh+wa5+catNDS+yU3XT633AcJIIRyzHSoSIKzdGoYuTLIq
 sGBpQFebZO+2DOtuKNLbZ3lnq8MHhxSduSTGlDl89DkaGxX1NbW0LmmlKpOOJ7gq7sJaizFQDtpZ
 efVhNt4yNbWZMxM+df0+iiXJrTefVYc1KyLWrLiwUD4MXYS1Wyu8xwsjHe9dm59R1zkhBP/x3QTF
 AZeGdDU53UPCVlGfSTNQ9Hlqczv9BQ8QNNSFbLoj5Eyn5MiRBYBEAEIIpBTk8gN875+7mdF4AcPw
 aaSuvqZS8xVbs2DN0JjLlIPrD+rIXj1eoS3vRMhSE1df386h/SWa1Cy6yv2Y2l6u3xDwxT+X9Pb6
 aGOpr3NIJ12MgW9/Z4AomDtcj7WQSndTXyvQ0ccTQZYDcXBov/Gw4juwK4jcqz019iZIA+hUD+tv
 crj88oA9e46yab3AU4KhIebM5tFKLAR89vZ+fvG/CkGILgiWrezlgc8LwmhIKs7mHUofJgWRiwO7
 hp6HAQi0+UluMPXl2qqxp6yyGUtto08YSRrqBRvWx71Z8i1RKIiieKOS0aC1wMb7JpjfIvirx3qx
 Fp5/EfIdWU4dK1KVFRxrN+zfB3fdIRECpAQhwXFASotU8b1SFsdhQiM5VcoNpgi0+cl5AFy2autL
 h7atPVKTFZcJcb5o1tUJhKMJQ0kQCHQEYSgwEegIoij+T+uzyWiBqcyhWguXLTTs3ebx3LOaZFrj
 RnX0FgucOhWSdAVSguNYpAOOEignnsZylMBR8b1ywXXBde0FA2KtoFj2jixeu/Wl8wAAMEY8OVBM
 /n02OXpooDV4rsOihYL+PkkUQRQw3PNhADoSRJr43UgwIoE2scZt3y3xZISTCij7ksDpY3mrQ3+3
 g3RspbdjZpWyKBXvRVDuEONn75UC1wPXs7hqaqqTLycxRjw58r9RAETF0vcLIvnNdKI4vAAVhBAG
 Ah1CQ52DX7SEgSAMIQgsYSQIK4AEIUSBIArjtT9dAUhHcLxDk3VqKep+GlNeLPICcj22wrDAdcFx
 LY5LzLA31NvgqrjXXTdmWnkxwJGGyAXPjSVnIioUkn5ULH1/XABaN+w9s/+ta1/xQ3Wnp6LhHhzq
 1SHGwjDu9ajCfBgIgiC+RgEcPhZRLFmsBUdIrAHtZ/CSMNjvIqO4J10XvISIGVMxE64nUNpijKgs
 ZY1soUAIixDxVY4wnFKCO4FXDSJFGHmvtG7YeWbk/+cVkVJ/s6urqhBGYKzFDK+pGSyV5xE/sCBM
 3DBpENISGosT1RAVU+T6HPYcChgslghlP1YE9AzmyVYbUlmDlzC4rsFVBkdZhBPXIaQFaUFUUmWP
 j61832DRlfYZG99HeuwURtDVVVWQUn/zXH7H3Cy9/dVVX0slyv9eXxNPKIRhbPCG9b5yDcOKCA6p
 QXTWLuQHDAnPYdd+TV+XYOVySCVlZd1TVBiLe046VAyfRTixfiuXWN8dcJ3YHrgq/s/1YlVRXpzP
 8+yEGyV7c1lKfvLrqzfs+O6UAAB49+VVv6ytGbg3lTwbqmpdEfMQdFgxcFF8H1WMoDaxG9QGThyP
 2PqO4Ob1gqoq57zJEyFAyFiUZQUMR8YuUFXc3rAncIltxZARrAA0mfErlRP056p/tebWHfeN9X5c
 ADp2r8h8cDpqa5oxOF85Yww0DEQmNnQ6iuf2tRbYCghWx+4vjCxSyHg3HYyanhOCWAqoACFBODEI
 whnpEokBcCY3dCMp0g6dXVXHFs5Uy5qv3jXmdvkJD0wc37VyWXt79GxNbXF+MjnFsX5l66Cxseuz
 VlSulemzkZ8bCn4qkjBs0AQXtFo3FpXLCXL96WOzZqnPzluxs228fJMemenYvSJz4KT8aSZRuKe2
 plAxSJ9gsoL+XIaCn/nN0jnmkfF6foimfGjqjaeX/4Vyo39sqMtnlJr62PujpChy6OnLFqJQfeum
 TXv+bSplLujY3M5XV60sFPgnR5Vuzqb9RDoVfPwSYQXFkke+mPB1lHo9kbB/u/YzO3dMtfhFHZx8
 94XWmSHu13zf/3JVWs/LZH1c96M9WhOGikI+wWDROZ5IJJ50Cb+7ZuO+0xdazyUfnd3+8lV3BNr5
 48APVijXzPcck/I8jetGeK6OA5pLIGsEQegQhoogcAi0LEWhPOYlvF2eo3+0+ta9z19K/dN+ePq1
 p5etsQ7XpoRcHUR2uXTCJilIOMKmIkFaauvGlt8iK+DEYa+Ijx44IlSWoraiZCy+0W6np8SekjXb
 hWbr+k1t736iDk9fKO3bd5UX9Tu1biRrOnvKjQBNDcnuUJmcqtX9ra17P9JDyP8HxaTyyOQiYx0A
 AAAASUVORK5CYII=
